body{
    background-color: aqua;
}

#effect{
    margin-left: 1%;
    text-align: center;
    width: 1480px;
    height: 200px;
    font-size: 20px;
    cursor: pointer;
    
}


#h3{
margin-top: 2%;



}
#button{
    display: flex;
    margin-left: 45%;
    cursor: pointer;
    padding: 20px 20px 20px;
    margin-top: 2%;
    border-radius: 10%;
    background-color: #9999;
    font-size: 15px;

}